<div id="notesUI">
    <div id="postNoteUI">
        <h2 id="postNoteTitle">Create Note</h2>
        <textarea id="postNoteText" class="postNoteInput" placeholder="Note Title"></textarea>
        <textarea
          class="postNoteInput"
          id="postNoteTextArea"
          placeholder="Note Description"
        ></textarea>
        <button id="saveNoteButton">Save Note</button>
    </div>

    <div id="allNotesUI">
        <h2 id="allNotesTitle">All Notes</h2>
        <div id="allNoteScrollArea">
            <!-- Notes will be rendered dynamically here -->
        </div>
    </div>
</div>

<style>
    #notesUI {
        display: flex;
        flex-direction: row;
        margin-top: 1.6rem;
        gap: 5px;
    }

    #postNoteUI {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 16px;
        width: 50%;
    }

    #postNoteTitle {
        font-weight: bolder;
    }

    .postNoteInput {
        width: 100%;
        border: 1px solid black;
        border-radius: 13px;
        padding: 8px;
    }

    .postNoteInput::placeholder {
        font-style: italic;
    }

    #postNoteTextArea {
        height: calc(3.6rem * 2);
        min-height: calc(3.6rem * 2);
        max-height: 15rem;
        overflow-y: scroll; /* Should also increase height of text area */
        resize: vertical;
        scrollbar-width: none;
    }

    #postNoteText {
        height: 3.6rem;
        min-height: 3.6rem;
        max-height: 3.6rem;
        resize: none;
    }

    #saveNoteButton {
        width: 45%;
        align-self: flex-end;
        height: 3.6rem;
        background-color: rgb(10, 102, 194);
        color: white;
        border: none;
        border-radius: 8px;
        font-size: 1.5rem;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        box-shadow: 0 0 0 0 rgba(10, 102, 194, 0.5);
        padding: 0 2rem;
    }

    #allNotesUI {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 16px;
        width: 50%;
    }

    #allNotesTitle {
        font-weight: bolder;
    }

    #allNoteScrollArea {
        max-height: 300px;
        overflow-y: auto;
    }

    .note {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 8px;
    }

    .noteTitle {
        padding: 5px;
        border: black solid 2px;
        border-bottom: 0;
        border-radius: 20px 10px 10px 0;
        width: 50%;
        height: 3.6rem;
        font-weight: bolder;
    }


    .noteDescription {
        padding: 5px;
        border: black solid 2px;
        border-radius: 0 10px 10px 10px;
        width: 100%;
        height: calc(3.6rem * 2);
        overflow-y: scroll;
    }
</style>
